<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>O aplicativo Bloco comunicações foi desenvolvido através de um curso entre os amigos Weslley e Bia, com a iniciativa do Coordenador Luiz Claudio, para desenvolver apps nota fiscal paulista.</p>

      <p>Mais informações: <a href="http://blocodobeco.org.br">blocobloquinho.org.brr</a> / </p>

      <p ng-if="version">Versão: {{version}}</p>

      <p style="width: 100%; text-align: center; padding-top: 1em;">
        <img src="img/logo.png" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
